USE [master]
GO
/****** Object:  Database [college]    Script Date: 06-10-2026 14:54:09 ******/
CREATE DATABASE [college]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'college', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\college.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'college_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\college_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [college].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [college]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookIssue]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssue](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[IssueTime] [time](7) NOT NULL,
	[DueDate] [date] NOT NULL,
 CONSTRAINT [PK_StudentBooks] PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookReturn]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReturn](
	[ReturnId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[FineAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[ISBN] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentDetails]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[Course] [varchar](50) NULL,
	[RollNo] [varchar](20) NULL,
	[Branch] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[MotherName] [varchar](50) NULL,
	[Semester] [int] NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[Marks] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[ActiveStatus] [bit] NULL,
 CONSTRAINT [PK__StudentD__3214EC0773034D55] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260715100744_dbinit', N'8.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260715112127_InitialCreate', N'8.0.10')
GO
SET IDENTITY_INSERT [dbo].[BookIssue] ON 

INSERT [dbo].[BookIssue] ([IssueId], [BookId], [StudentId], [IssueDate], [IssueTime], [DueDate]) VALUES (4, 5, 4, CAST(N'2026-09-07' AS Date), CAST(N'15:52:25.3964329' AS Time), CAST(N'2026-09-30' AS Date))
INSERT [dbo].[BookIssue] ([IssueId], [BookId], [StudentId], [IssueDate], [IssueTime], [DueDate]) VALUES (5, 6, 7, CAST(N'2026-09-08' AS Date), CAST(N'10:59:01.1431211' AS Time), CAST(N'2026-10-08' AS Date))
SET IDENTITY_INSERT [dbo].[BookIssue] OFF
GO
SET IDENTITY_INSERT [dbo].[BookReturn] ON 

INSERT [dbo].[BookReturn] ([ReturnId], [StudentId], [BookId], [ReturnDate], [FineAmount]) VALUES (4, 2, 1, CAST(N'2026-09-10T00:00:00.000' AS DateTime), CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BookReturn] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [BookName], [Author], [ISBN], [Quantity]) VALUES (1, N'Wings of fire', N'Dr. A.P.J. Abdul Kalam', N'9788173711466', 8)
INSERT [dbo].[Books] ([BookId], [BookName], [Author], [ISBN], [Quantity]) VALUES (2, N' Database System Concepts', N'Abraham Silberschatz', N'978-0078022135', 5)
INSERT [dbo].[Books] ([BookId], [BookName], [Author], [ISBN], [Quantity]) VALUES (4, N' Operating System Concepts', N'Abraham Silberschatz', N'978-1118063330', 5)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [CourseName]) VALUES (1, N'BCA')
INSERT [dbo].[Courses] ([Id], [CourseName]) VALUES (2, N'BTech')
INSERT [dbo].[Courses] ([Id], [CourseName]) VALUES (3, N'BA')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentDetails] ON 

INSERT [dbo].[StudentDetails] ([Id], [Name], [Gender], [Course], [RollNo], [Branch], [FatherName], [MotherName], [Semester], [Email], [Phone], [Address], [City], [Marks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [ActiveStatus]) VALUES (1, N'Riya Sharma', N'Female', N'BTECH', N'2202310100076', N'Computer Science', N'Suresh Kumar', N'Anita Sharma', 3, N'riya@gmail.com', N'9876543210', N'MG Road', N'Gurugram', 88, CAST(N'2026-07-14T11:32:50.783' AS DateTime), N'NITYA', CAST(N'2026-07-14T11:32:50.783' AS DateTime), N'Nitya', 1)
INSERT [dbo].[StudentDetails] ([Id], [Name], [Gender], [Course], [RollNo], [Branch], [FatherName], [MotherName], [Semester], [Email], [Phone], [Address], [City], [Marks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [ActiveStatus]) VALUES (2, N'Nitya Vasdeva', N'Female', N'BTECH', N'2302310100066', N'Computer Science', N'Vivek Kumar', N'Savita Vasdeva', 6, N'nitya@gmail.com', N'9753135704', N'Railway Road', N'Ghaziabad', 90, CAST(N'2026-07-14T11:32:50.783' AS DateTime), N'NITYA', CAST(N'2026-07-14T11:32:50.783' AS DateTime), N'Nitya', 1)
INSERT [dbo].[StudentDetails] ([Id], [Name], [Gender], [Course], [RollNo], [Branch], [FatherName], [MotherName], [Semester], [Email], [Phone], [Address], [City], [Marks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [ActiveStatus]) VALUES (3, N'Anjali Madhale', N'Female', N'BA', N'213044', N'Arts', N'Varun Madhale', N'Alia Madhale', 2, N'anjali@gmail.com', N'9876543210', N'KG Road', N'Belagavi', 75, CAST(N'2026-07-14T11:32:50.783' AS DateTime), N'NITYA', CAST(N'2026-07-14T11:32:50.783' AS DateTime), N'Nitya', 1)
SET IDENTITY_INSERT [dbo].[StudentDetails] OFF
GO
ALTER TABLE [dbo].[BookReturn] ADD  DEFAULT (getdate()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[BookReturn] ADD  DEFAULT ((0)) FOR [FineAmount]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentInfo]    Script Date: 06-10-2026 14:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentInfo] @StudentCourse VARCHAR(50)
AS
BEGIN
 SELECT * FROM college WHERE Course = @StudentCourse;
 END;
 
 
SELECT * FROM college;
EXEC GetStudentInfo
'BTech';





GO
USE [master]
GO
